* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    background-color: #1a1a1a;
}

.header {
    position: absolute;
    font-family: Poppins;
}

.logo-branding {
    font-size: 34px;
    margin-left: 8px;
    font-weight: 700;
}

.sub-logo {
    font-size: 12px;
    margin-top: -10px;
    margin-left: 165px;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 600px;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}



label {
    display: block;
    font-family: Poppins;
    font-size: 16px;
    margin-top: 5px;
    margin-left: -210px;
    margin-bottom: 5px;
}

input {
    width: 300px;
    height: 38px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #232323;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    font-size: 14px;
    font-family: Poppins;
}

::placeholder {
    font-family: Poppins;
    font-size: 14px;
}

button {
    width: 300px;
    height: 38px;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    background-color: #F05825;
    font-family: Poppins;
    color: #f4f4f4;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

button:hover {
    color: #f4f4f4;
    background-color: #1a1a1a;
    transform: scale(1.05);
}

.register-link {
    margin-top: 30px;
}

.new-member {
    font-family: Poppins;
    font-size: 13px;
}

.new-member a {
    font-family: Poppins;
    font-size: 13px;
    color: #F05825;
}